language: java
jdk: oraclejdk8
before_install: chmod +x gradlew
install: ./gradlew assemble
script: ./gradlew check
after_success: ./gradlew artifactoryPublish
branches:
  only:
    - master
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/